---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={`About — ${SITE_TITLE}`}
			description="About Yogi — software developer, occasional writer."
		/>
		<style>
			.about-content {
				max-width: 620px;
			}
			.about-content h1 {
				margin-bottom: 1em;
			}
			.about-content p {
				margin-bottom: 1.5em;
				line-height: 1.8;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<div class="about-content">
				<h1>About Me</h1>
				<p>
					My name is Yogesh Poonia! I am a software developer and full
					time dreamer.
				</p>
				<p>
					I always loved to write. I remember writing my first play at
					the age of 12 in my school. It was stinky, but hey I was a
					kid. But with time, I grew up and lost that excuse.
				</p>
				<p>I love writing fiction, satire, sometimes dark comedy.</p>
				<p>
					I am a software developer by profession. Writing is my
					hobby. This is something I like to do in my free time. So
					read, enjoy, let me know how you feel or don't, it is all
					upto you.
				</p>
				<p>
					If I got a single laugh or goosebump out of you, I would
					think that I am on a good path. Also, you can contact me on
					my email if you want to: "thugglige@gmail.com" or you can
					call me at "+919079382941". I can't promise I will pick up
					but I will definitely give you a call back.
				</p>
			</div>
		</main>
		<Footer />
	</body>
</html>
